* {
  box-sizing: border-box;
}

:root {
  --text-font-size: 16px;
  --select-font-size: var(--text-font-size);
  --button-font-size: var(--text-font-size);

  --bg-color: #fff;
  --text-color: #333;
  --link-color: slateblue;
  --nav-bg-color: rgba(255, 255, 255, 0.38);
  --nav-link-color: #777;
  --nav-link-hover: #aaa;
  --mode: #ddd;
  --select-color: slateblue;
  --button-color: slateblue;
  --footer-text-color: #aaa;
  --sidebar-bg-color: #fff;
}

.theme-dark {
  --bg-color: #2C3034;
  --text-color: #aaa;
  --link-color: #d9d2e9;
  --nav-bg-color: rgba(51, 51, 51, 0.40);
  --nav-link-color: #aaa;
  --nav-link-hover: #777;
  --mode: #777;
  --select-color: #aaa;
  --button-color: #aaa;
  --footer-text-color: #777;
  --sidebar-bg-color: transparent;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.03em;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app {
  display: grid;
  max-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0 0px;
}

#content {
  display: grid;
  max-width: 100%;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.04em;
  font-size: var(--text-font-size);
}

.container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) auto;
  grid-column-gap: 20px;
  margin-top: 30px;
  padding: 0px 30px;
}

a {
  color: var(--link-color);
  text-decoration: none;
  line-height: normal;
  padding-bottom: 0px;
}

#mode {
  color: var(--mode);
  position: absolute;
  top: 10px;
  right: 30px;
  font-family: HelveticaNeue-CondensedBold,Futura-Medium,-apple-system,'Arial Rounded MT Bold',system-ui,Ubuntu,sans-serif,'Arial Unicode MS','Zapf Dingbats','Segoe UI Emoji','Segoe UI Symbol',Noto Color Emoji, NotoColorEmoji,EmojiSymbols,Symbola,Noto,'Android Emoji',AndroidEmoji,'lucida grande',tahoma,verdana,arial,AppleColorEmoji,'Apple Color Emoji';
  font-size: 32px;
  cursor: pointer;
}

nav {
  display: grid;
  justify-content: flex-start;
  align-content: center;
  height: 100%;
  background-color: var(--nav-bg-color);
  position: sticky;
  top: 0px;
  padding-left: 30px;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: 30px;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--nav-link-hover);
}


/* ------ gallery ------ */

.gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  padding: 0px 30px;
}

#gallery-images-output {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#output-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  align-content: flex-start;
}

/* ------ images ------ */

#images-output {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#canvas {
  max-width: 100%;
  height: auto;
  max-height: 93vh;
}

#result-img {
  max-width: 100%;
  height: auto;
}

/* ------ sidebar ------ */

#sidebar-wrapper {
  display: grid;
  width: 100%;
  margin-left: auto;
  max-width: 350px;
  min-width: 350px;
  align-items: flex-start;
  margin-bottom: auto;
  padding: 20px;
}

#sidebar-container {
  display: grid;
  margin-left: auto;
  grid-row-gap: 20px;
  width: 100%;
  height: auto;
  background-color: var(--sidebar-bg-color);
}

#sidebar {
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  min-height: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-rows: auto;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  max-width: 100%;
}

.row {
  display: block;
  margin-bottom: auto;
  margin-right: 3px;
  font-size: 25px;
  line-height: normal;
}

#download-link {
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
}

.upload {
  font-weight: 400;
  font-size: 38px;
  line-height: 20px;
}

.button-wrapper {
  display: grid;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: auto;
}


#footer {
  display: grid;
  position: sticky;
  bottom: 0px;
  padding-bottom: 20px;
  padding-right: 30px;
  align-content: flex-end;
  text-align: right;
  justify-content: flex-end;
  font-size: 15px;
  letter-spacing: 0.08em;
  font-weight: 300;
  color: var(--footer-text-color);
}

select {
  font-size: var(--select-font-size);
  border: none;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid var(--select-color);
  color: var(--select-color);
  padding: 4px 6px;
  font-family: 'Avenir';
  font-weight: 300;
  width: 100%;
  max-width: 300px;
  min-width: auto;
  margin: auto 0;
}

button {
  font-size: var(--button-font-size);
  border: none;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  padding: 6px 8px;
  font-family: 'Avenir';
  font-weight: 300;
  letter-spacing: 0.04em;
  width: 100%;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media all and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 20px;
    padding: 0 20px;
  }

  #sidebar-wrapper {
    margin: 0 auto;
    max-width: 400px;
    min-width: auto;
  }
/*
  #mode {
    top: auto;
    bottom: 20px;
    left: 20px;
  }
  */

}
