<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/main.css') }}">
    <title>python image editor</title>
  </head>
  <body class="theme-light">
    <div id="app">
      <div id="mode">☾</div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
  {% block script %}
  <script src="{{ url_for('static', path='/main.js') }}"></script>
  {% endblock %}
</html>
