{% extends "layout.html" %}
{% block content %}
<div class="gallery-container">
  <div id="gallery-images-output">
    <div id="output-wrapper" style="display: grid; grid-template-columns: repeat(2, minmax(auto, 1fr)); grid-auto-rows: auto; grid-gap: 20px; align-content: flex-start">
    </div>
  </div>
</div>
<p id="error" style="color: red; line-height: 26px; margin-bottom: auto"></p>
<input type="file" name="file" id="gallery-input" style="display: none" multiple  />
{% endblock %}
{% block script %}
<script src="../static/gallery.js"></script>
{% endblock %}
