<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>python image editor</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <a href="/">home</a>
        <a href="/gallery">gallery</a>
        <div id="mode">☾</div>
      </nav>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer"></div>
    </div>
  </body>
  <script src="../static/darkmode.js"></script>
  {% block script %}
  {% endblock %}
</html>
